mono_crash.*
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.VisualState.xml
dlldata.c
project.lock.json
project.fragment.lock.json
*.meta
*.obj
*.tmp
*.tmp_proj
*.log
.builds
*.cachefile
*.[Cc]ache
!?*.[Cc]ache/
*.binlog
.localhistory/
.vshistory/
MigrationBackup/
.vscode/*
.history/
*.msi
*.msix
*.msm
*.msp

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

# Java
bin/
res/
*.class

# Executables
*.exe

# Python
.venv
__pycache__/
*.pyc

# Web Flow
node_modules/
.sass-cache/
*.ts
*.sass
*.scss

# Misc
.env
*.log
*.compiled

#User Added
!core.jar